
@{
    ViewBag.Title = "LichTrucTuan";
    Layout = "~/Views/Shared/layoutteacher.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="font-weight: bold; padding: 20px; color: darkblue">LỊCH TRỰC TUẦN</h2>
        </div>
    </div>
    <table class="table" style="font-size: 12px">
        <thead>
            <tr style="background-color: darkblue; color: white">
                <th scope="col">Ca trực/Ngày trực</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
                <th>Thứ 2 <br /> 12/6/2020</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td><br /><br /><div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> Lê Hoàng Phương <br /> </td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
            </tr>
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>

            </tr>
            <tr>
                <td style="background-color: deepskyblue; color: darkblue; text-align: center">10:45am - 1:45pm</td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>
                <td>Lê Hoàng Phương <br /> <br /> <div style="color: darkblue"><input type="checkbox" /> Đăng ký</div></td>

            </tr>
        </tbody>
    </table>
</div>

