a {
  text-decoration: none;
}
:root {
  --primary-text: #1C63EE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal-content {
  background-color: white !important;
  border-radius: 10px !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
}
.container_block_header {
  color: #f8f8f8;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-weight: 900;
  padding-top: 24px;
}
.container_block_body {
  border-top: 1px #343434 solid;
}
.primary-btn {
  border: none;
  width: 106px;
  height: 30px;
  outline: none;
  background: #1C63EE;
  border-radius: 9px;
  color: #f8f8f8;
  font-size: 12px;
  font-family: 'Geneva', sans-serif;
  font-weight: 700;
}
.secondary_btn {
  width: 106px;
  height: 30px;
  background: #ffc3a0;
  border-radius: 9px;
  font-size: 12px;
  font-family: 'Geneva';
  font-weight: 700;
  color: #003c5f;
}
.third_btn {
  width: 106px;
  height: 30px;
  background: white;
  color: #333333;
  border-radius: 9px;
  font-size: 12px;
  font-family: 'Geneva';
  font-weight: 700;
}
.disable-btn {
  width: 106px;
  height: 30px;
  background: #666666;
  border-radius: 9px;
  color: black;
  font-size: 12px;
  font-family: 'Geneva', sans-serif;
  font-weight: 700;
}
.remove_mini_btn {
  width: 24px;
  height: 24px;
  background: #ff0909;
  border-radius: 50%;
  color: black;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
}
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='number'],
input[type='datetime-local'] .selectize-control,
.selectize-input,
.modal select {
  /* color: white;
  background-color: black;
  border: none; */
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 10px;
  height: 36px;
  background-color: white;
  color: black;
  border: solid 1px #303030;
}
.item-icon {
  margin-left: 12px;
  height: fit-content;
  width: 30px;
}
.item-description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  margin: 0;
  margin-left: 24px;
  text-align: center;
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.page-link {
  background-color: white !important;
  color: var(--primary-text);
  outline: none;
}
.page-link:hover {
  color: var(--primary-text);
}
.page-link:focus {
  color: var(--primary-text);
}
.base-pagination {
  margin-top: 24px;
}
.page-active.page-link {
  color: var(--primary-text) !important;
}
.base_label_inline {
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
.base_label_singlerow {
  display: block;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}
.primary_input {
  background-color: white;
  border-radius: 10px;
  border: 1px #89fffd solid;
  color: black;
  padding: 4px 8px;
}
.primary_input:focus-visible {
  border: 1px #89fffd solid !important;
}
.select-place {
  max-width: 120px;
  max-height: 40px;
  color: white !important;
  background-color: #1C63EE !important;
  border: 1px solid #303030;
  border-radius: 10px;
}
.select-place option {
  background: #1C63EE;
}
.secondary_input {
  background-color: white;
  border-radius: 10px;
  border: 1px white solid;
  color: black;
  padding: 4px 8px;
}
.item-icon {
  margin-left: 12px;
  height: fit-content;
  width: 30px;
}
.item-description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  margin: 0;
  margin-left: 24px;
  text-align: center;
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.container_body_phone_input_ {
  text-align: center;
  margin-top: 48px;
}
.label_phone_modifier {
  margin: 10px 0;
}
.phone_input_modifier {
  width: 40%;
}
.container_body_search_block {
  text-align: center;
}
.container_body_name_input_ {
  margin-left: 16%;
  margin-top: 62px;
  margin-bottom: 37px;
}
.name_input_modifier {
  margin: 8px 14px;
  width: 65%;
}
.container_body_address_input_ {
  margin-left: 16%;
  margin-top: 37px;
  margin-bottom: 37px;
}
.address_input_modifier {
  margin: 8px 34px;
  width: 65%;
}
.container_body_create_block {
  text-align: center;
}