
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/layout.cshtml";
}


<div style="padding: 30px">
    <div class="row justify-content-center" style="padding: 30px">
        <div class="col-lg-8 col-md-8 col-sm-10">
            <div class="custom-div">
                <p style="text-align:center;font-weight: bold; font-size:20px; color: darkblue">KÝ TÚC XÁ ĐẠI HỌC TÔN ĐỨC THẮNG</p>
            </div>
            <p>Hệ thống ký túc xá Đại học Tôn Đức Thắng gồm Ký túc xá Cơ sở Tân Phong, quận 7, Tp.HCM, Ký túc xá Cơ Sở Bảo Lộc và Ký túc xá phân hiệu Nha Trang. Cung cấp 5831 chỗ ở cho sinh viên.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col-md-4">
            <div class="card" style="width: 25rem; height: 30rem">
                <img src="~/Images/KTX-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ký túc xá Trường Đại học Tôn Đức Thắng cơ sở Tân Phong</h5>
                    <p class="card-text">Gồm 04 khối nhà H, K, I và L. <br /> Với tổng diện tích sàn xây dựng la 42.414 m2; <br /> Phục vụ 4.772 chỗ ở cho sinh viên.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem; height: 30rem">
                <img src="~/Images/KTX-17.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ký túc xá Cơ sớ Bảo Lộc</h5>
                    <p class="card-text">Gồm 2 khối nhà cao 3 tầng hoàn thành và đưa vào sử dụng năm 2017. <br /> Phục vụ 429 chỗ ở cho sinh viên học tập tại cơ sở.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 25rem; height: 30rem">
                <img src="~/Images/KTX-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ký túc xá Phân hiệu Nha Trang</h5>
                    <p class="card-text">Gồm 2 dãy nhà hoàn thành và đưa vào sử dụng năm 2008, phục vụ 200 chỗ ở cho sinh viên. <br /> Bên cạnh đó Ký túc xá mới đang trong quá trình thi công dự kiến phục vụ thêm 430 chỗ ở cho sinh viên đang theo học tại cơ sở.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-5">
            <div class="row">
                <p style="text-align: center; font-weight: bold;">KÝ TÚC XÁ CƠ SỞ TÂN PHONG</p>
                <p>Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong gồm 04 tòa nhà: Nhà H, nhà I cao 10 tầng. Nhà K, L cao 20 tầng</p>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Cơ chế hoạt động</div>
                <div> Tự chủ tài chính, tự cân đối thu chi;</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Phương châm</div>
                <div>Nề nếp, văn minh, hiệu quả, an toàn, bền vững, lâu dài.</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div style="font-weight: bold">Tiêu chí</div>
                <div>Phục vụ người học, tạo điều kiện tốt nhất trong ăn ở, sinh hoạt và học tập cho sinh viên ở nội trú. Bổ sung cho các hoạt động chính của Trường, góp phần thực hiện tốt mục tiêu và nhiệm vụ đào tạo của Nhà trường.</div>
            </div>
        </div>
        <div class="col-md-7" style="color: white; margin: auto">
            <div class="row" style="background-color: blue; padding: 10px">
                <div class="col-md-4">
                    <img src="~/Images/KTX-2.jpg" style="width:250px; height:120px" />
                </div>
                <div class="col-md-8" style="margin: auto">
                    <p>Trong đó khu nhà H và I cao 10 tầng, diện tích sàn xây dựng là 15.994 m2, hoàn thành và đưa vào sử dụng từ tháng 12/2010. Phục vụ 2.196 chỗ ở cho sinh viên.</p>
                </div>
            </div>
            <div class="row" style="background-color: darkblue; padding: 10px; margin-top: 10px">

                <div class="col-md-8" style="margin: auto">
                    <p>Khu nhà K, L cao 20 tầng, diện tích sàn xây dựng là 26.420 m2, hoàn thành và đưa vào sử dụng từ tháng 8/2019. Phục vụ thêm 2.576 chỗ ở: trong đó có 560 chỗ ở dành cho nghiên cứu sinh, học viên sinh viên quốc tế tham gia chương trình học tập, trao đối ngẫn hạn. Phòng ở dành cho sinh viên quốc tế đạt tiêu chuẩn về tiện nghi và chất lượng phục vụ, có 112 phòng 4 giường và 56 phòng 2 giường.</p>
                </div>
                <div class="col-md-4">
                    <img src="~/Images/KTX-3.jpg" style="width:250px; height:120px" />
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin:auto; text-align: center; padding: 20px">
        <p style="text-align: center; font-weight: bold;">CÁC TIỆN ÍCH TẠI KÝ TÚC XÁ</p>
        <p>Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong gồm 04 tòa nhà: Nhà H, nhà I cao 10 tầng. Nhà K, L cao 20 tầng</p>
    </div>
    <div class="row text-center" style="margin: auto; width: 500px; padding-top: 20px">
        <div class="col">
            <img src="~/Images/supermarket.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Siêu thị mini</p>
        </div>
        <div class="col">
            <img src="~/Images/laundry-room.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Phòng giặt</p>
        </div>
        <div class="col">
            <img src="~/Images/canteen.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Canteen</p>
        </div>
    </div>

    <div class="row" style="margin:auto; text-align: center; padding-top: 50px">
        <p style="text-align: center; font-weight: bold;">CÁC HẠNG MỤC CÔNG TRÌNH</p>
        <p>Xung quanh khuôn viên ký túc xá</p>
    </div>
    <div class="row text-center" style="margin: auto; width: 700px; padding-top: 20px">
        <div class="col">
            <img src="~/Images/tennis.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Sân tennis<p>
        </div>
        <div class="col">
            <img src="~/Images/swimming.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Hồ bơi</p>
        </div>
        <div class="col">
            <img src="~/Images/gym.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Nhà thi đấu</p>
        </div>
        <div class="col">
            <img src="~/Images/stadium.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Sân vận động</p>
        </div>
    </div>

    <div class="row text-center" style="margin: auto; width: 500px; padding-top: 20px; padding-bottom: 20px">
        <div class="col">
            <img src="~/Images/basketball.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Sân bóng rổ</p>
        </div>
        <div class="col">
            <img src="~/Images/volleyball.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Sân bóng chuyền</p>
        </div>
        <div class="col">
            <img src="~/Images/running.png" style="width: auto; height: 70px; margin: auto;" />
            <p class="mb-0">Khu vực tập luyện thể thao ngoài trời</p>
        </div>
    </div>


    <div class="row" style="background-color: skyblue; padding: 50px">
        <p style="text-align: center; font-weight: bold; padding-bottom: 10px">NHIỆM VỤ, TỔ CHỨC NHÂN SỰ & CƠ SỞ VẬT CHẤT</p>
        <div class="col">
            <div class="card m-0 p-0" style="width: 320px;">
                <img class="card-img-top" src="~/Images/working.png" style="width: 200px; height: 200px; padding: 20px; margin: auto">
                <div class="card-body p-0" style="background-color: darkblue;">
                    <p class="card-text" style="color: white; padding-left: 50px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">NHIỆM VỤ CHỨC NĂNG<i class="fa-solid fa-arrow-right" style="padding-left:60px"></i></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-0 p-0" style="width: 320px;">
                <img class="card-img-top" src="~/Images/team.png" style="width: 200px; height: 200px; padding: 20px; margin: auto">
                <div class="card-body p-0" style="background-color: darkblue;">
                    <p class="card-text" style="color: white; padding-left: 50px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">TỔ CHỨC NHÂN SỰ <i class="fa-solid fa-arrow-right" style="padding-left:60px"></i></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-0 p-0" style="width: 320px;">
                <img class="card-img-top" src="~/Images/infrastructure.png" style="width: 200px; height: 200px; padding: 20px; margin: auto">
                <div class="card-body p-0" style="background-color: darkblue;">
                    <p class="card-text" style="color: white; padding-left: 50px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">CƠ SỞ VẬT CHẤT <i class="fa-solid fa-arrow-right" style="padding-left:60px"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 50px;">
        <div class="col">
            <img src="~/Images/KTX-7.jpg" class="img-fluid" style="height: 700px; width: 100%;">
            <p style="padding: 15px; background-color: darkblue; color: white; width: 100%;">Mỗi phòng ở có một nhà vệ sinh khép kín, được thiết kế để sử dụng cùng lúc 03 chức năng khác nhau</p>
        </div>
    </div>
</div>

