
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div>
    <img src="~/Images/gioi-thieu.png" style="width: 100%; height: 350px" />
    <h2 style="color: lightskyblue; background-color: darkblue; font-weight: bold; padding: 20px; text-align: center">Welcome to TDTU dormitory</h2>
    <div class="row" style="padding: 20px">
        <h4 style="font-weight: bold; color: darkblue;">GIỚI THIỆU CHUNG</h4>
        <hr style="width: 300px; border: none; height: 5px; background-color: deepskyblue;">
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-6" style="padding-right:20px">
            <img src="~/Images/gioi-thieu.png" />
        </div>
        <div class="col-6">
            <p>Giới thiệu</p>
            <button style="background-color: lightblue; color: white; font-weight: bold; border: none">Xem thêm ... </button>
        </div>
    </div>
    <div class="row" style="padding: 20px; position: relative;">
        <img src="~/Images/dang-ky-ktx-bg.png" style="width: 100%; height: auto;" />
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 30px; font-weight: bold; padding-left: 200px">
            Đăng ký ký túc xá
        </div>
    </div>
    <div class="row" style="padding: 20px; text-align: center; position: relative;">
        <h4 style="font-weight: bold; color: darkblue;">THÔNG BÁO</h4>
        <hr style="width: 350px; border: none; height: 7px; background-color: deepskyblue; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 30px;">
    </div>
    <div class="row" style="padding: 20px">

            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
     

        <div class="col" style="margin: auto">
            <button style="background-color: lightblue; color: white; font-weight: bold; border: none">Xem thêm ... </button>

        </div>
    </div>

        <div class="row" style="padding: 20px; text-align: center; position: relative;">
        <h4 style="font-weight: bold; color: darkblue;">HOẠT ĐỘNG PHONG TRÀO</h4>
        <hr style="width: 350px; border: none; height: 7px; background-color: deepskyblue; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 30px;">
    </div>
    <div class="row" style="padding: 20px">

            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="~/Images/gioi-thieu.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text" style="font-weight: bolder">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
     

        <div class="col" style="margin: auto">
            <button style="background-color: lightblue; color: white; font-weight: bold; border: none">Xem thêm ... </button>

        </div>
    </div>

</div>
