<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Boxicons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <!-- Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet">
    <link href=" https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/Areas/admin/Content/CSS/Default.css" rel="stylesheet" />
</head>

<body id="body-pd">
    <header class="header" id="header">
        @{Html.RenderAction("GenerateMenu2", "Menu");}

    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
                <div class="nav_list">
                    <a href="/SinhVien/QuanLyDon" class="nav_link active">
                        <img src="~/Images/writing.png" /> 
                        <span class="nav_name">Hợp đồng</span>
                    </a> 
                    <a href="#" class="nav_link">
                        <img src="~/Images/danger.png" /> 
                        <span class="nav_name">Vi phạm</span>
                    </a> 
                    <a href="#" class="nav_link"> 
                        <img src="~/Images/invoice.png" />
                        <span class="nav_name">Hoá đơn điện nước</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <img src="~/Images/complaint.png" />
                        <span class="nav_name">Gửi đơn khiếu nại</span>
                    </a> 
                    <a href="#" class="nav_link"> 
                        <img src="~/Images/permission.png" /> 
                        <span class="nav_name">Xin phép</span> 
                    </a>  
                </div>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light" style="margin-top: 80px">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        @RenderBody()
    </div>
    <!-- Modal markup -->
    <!--Container Main end-->
    <!--Container Main end-->
    <script>
        let table = new DataTable('#datatableform');
        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>